name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: 
      - master
      - 'staging-*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["'<3.13'", "'3.13'"]
        test-group:
          - name: indexed
            paths: tests/test_handlers_indexed.py
          - name: other
            paths: effectful/ tests/ --ignore=tests/test_handlers_indexed.py
    name: "${{ matrix.test-group.name }} (py ${{ matrix.python-version }})"
    steps:
      - uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install pandoc
        run: |
          sudo apt install -y pandoc

      - name: Install Python dependencies
        run: |
          uv sync --all-extras --dev --python ${{ matrix.python-version }}
          
      - name: Run tests
        env:
          MKL_NUM_THREADS: 1
        run: uv run pytest ${{ matrix.test-group.paths }} -n auto
