name: Test notebooks

on:
    schedule:
      - cron: '0 0 * * 6'  # Run at midnight on Saturdays
    push:
      branches:
        - master
    pull_request:
      branches:
        - master
        - 'staging-*'
    workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install pandoc
        run: |
          sudo apt install -y pandoc

      - name: Install Python packages
        run: |
          uv sync --all-extras --dev
    
      - name: Run Notebook Test
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
        run: |
          uv run ./scripts/test_notebooks.sh
